/**
 * @file
 * All custom overrides styles for the agility summit.
 */

/**
 * Universal defaults and direct body props.
 */
body {
  color: #2b3c4b;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/**
 * Headings and other page elements use the secondary font.
 */
.font-family--secondary,
.event-navbar,
h1,
h2 {
  font-family: 'Montserrat', Verdana, sans-serif;
}

/**
 * Heading 1
 */
h1 {}

/**
 * Heading 2
 */
h2 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.72px;
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
}
/**
 * h2s that are direct children of containers should be spacey.
 */
.container > .editable > h2 {
  padding: 70px 0 50px;
}

/**
 * Heading 3
 */
h3 {
  color: #41c8bf;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.48px;
  line-height: 1.45;
  margin: 0;
}
/**
 * Subtitle of "Keynote discussions" since there is not h4.
 */
h3 + p > b {
  display: block;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 30px;
}

/**
 * In this spacing-down bootstrap system, take the bottom margin off the last item.
 */
.editable > :last-child {
  margin-bottom: 0;
}

/**
 * Light blue background sections.
 */
.background-color--blue-light,
#pb-block-136602,
#pb-block-136601,
#pb-block-136603,
#pb-block-136433 {
  background-color: #e0f4f5;
}

/**
 * Dark blue sections (no spacing).
 */
.background-color--blue-dark,
#pb-block-136438,
#pb-block-136537 {
  background-color: #353f58;
  color: #fff;
}
#pb-block-136438 h2 {
  color: #fff;
}

/**
 * Remove bottom padding from columns component on Agenda page. Add it back below.
 */
.page-custom_landing_page .pb-block-type-columns {
  padding-bottom: 0 !important;
}

/**
 * Top spacing for sections.
 */
.padding-top--70px,
#pb-block-136433 {
  padding-top: 70px !important;
}

/**
 * Top spacing for sections.
 */
.padding-bottom--70px,
#pb-block-136433,
#pb-block-136537,
#pb-block-136584,
#pb-block-136589,
#pb-block-136601,
#pb-block-136604,
#pb-block-136605,
#pb-block-136603 {
  padding-bottom: 70px !important;
}

/**
 * Top menu.
 */
header .navbar {
  padding: 30px 0;
}
header .navbar .navbar-nav .nav-item .nav-link {
  color: #2b3c4b;
  font-family: 'Montserrat', Verdana, sans-serif;
}
header .navbar .navbar-nav .nav-item .nav-link[href^="/checkout/s"] {
  background-color: #00ad9f;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
header .navbar .navbar-nav .nav-item .nav-link[href^="/checkout/s"]:hover,
header .navbar .navbar-nav .nav-item .nav-link[href^="/checkout/s"]:active,
header .navbar .navbar-nav .nav-item .nav-link[href^="/checkout/s"]:focus {
  background-color: #343f58;
}
header .navbar .navbar-nav .nav-item.active .nav-link {
  font-family: 'Montserrat', Verdana, sans-serif;
  font-weight: 900;
}

/**
 * Vlad's welcome is narrow than the content below.
 */
#pb-block-136433 > .container {
  max-width: 860px;
}

/**
 * Vlad's intro has a weird heading.
 */
#pb-block-136434 h2 {
  font-weight: 900;
  padding: 15px 0;
  text-transform: none;
}

/**
 * Keynote bylines.
 */
#pb-block-136537 .pb-block-column .pb-block-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#pb-block-136537 .pb-block-column .pb-block-type-columns p {
  font-size: 16px;
}

/**
 * Keynote fanciness.
 */
.pb-block-column-136537 > .pb-block-type-text {
  padding-bottom: 30px !important;
}
@media all and (min-width: 768px) {

}

/**
 * Lightning round.
 */
#pb-block-136584 h3,
#pb-block-136589 h3 {
  color: #00ad9f;
  font-size: 20px;
  padding: 10px 0;
}
#pb-block-136584 .pb-block-type-image,
#pb-block-136589 .pb-block-type-image {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 145px;
}
#pb-block-136584 img,
#pb-block-136589 img {
  max-width: 128px;
}

/**
 * Operations leaders.
 */
#pb-block-136601 .editable > * {
  font-size: 22px;
}
#pb-block-136603 h3 {
  color: #00ad9f;
  font-size: 20px;
  padding: 10px 0;
}
#pb-block-136603 img {
  max-width: 120px;
}
#pb-block-136603 .pb-block-type-image {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 145px;
}

/**
 * Technology hub.
 */
#pb-block-136630 h3 {
  color: #00ad9f;
  font-size: 20px;
  padding: 10px 0;
}

/**
 * The modal toggle should have some affordances.
 */
.hover-state {
  cursor: pointer;
}
.hover-state:hover {
  -webkit-filter: brightness(125%);
  filter: brightness(125%);
}

/**
 * Remove the button-ness from the image button.
 */
.button--no-styles {
  background: transparent;
  border: 0 none;
}

/**
 * Responsive styles.
 */
@media all and (max-width: 767px) {
  .pb-block-column {
    padding-bottom: 40px;
  }
}