/**
 * @file
 * All custom overrides styles for the agility summit.
 */

:root {
  --color--main: #1b3561;
  --color--second: #ED6D23;
  --color--second-light: #fef4e2;
}

/**
 * Universal defaults and direct body props.
 */
body {
  color: #0a1526;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/**
 * Headings and other page elements use the secondary font.
 */
.font-family--secondary,
.event-navbar,
h1,
h2 {
  font-family: 'Montserrat', Verdana, sans-serif;
}

/**
 * Heading 1
 */
h1 {}

/**
 * Heading 2
 */
h2 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.72px;
  line-height: 1.2;
  margin: 0;
}
/**
 * h2s that are direct children of containers should be spacey.
 */
.container > .editable > h2 {
  padding: 70px 0 50px;
}

/**
 * Heading 3
 */
h3 {
  color: var(--color--second);
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.48px;
  line-height: 1.45;
  margin: 0;
}
/**
 * Subtitle of "Keynote discussions" since there is not h4.
 */
h3 + p > b {
  display: block;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 30px;
}

/**
 * Background sections in light orange.
 */
.background-color--main,
#pb-block-255813,
#pb-block-255835 {
  background-color: var(--color--main);
  color: #fff;
}

/**
 * Background sections in light orange.
 */
.background-color--second-light,
#pb-block-255349,
#pb-block-255351 {
  background-color: var(--color--second-light);
}

/**
 * In this spacing-down bootstrap system, take the bottom margin off the last item.
 */
.editable > :last-child {
  margin-bottom: 0;
}

/**
 * Top spacing for sections.
 */
.padding-top--70px {
  padding-top: 70px !important;
}

/**
 * Top spacing for sections.
 */
.padding-bottom--70px {
  padding-bottom: 70px !important;
}

/**
 * Top menu.
 */
header .navbar {
  padding: 30px 0;
}
header .navbar .navbar-nav .nav-item .nav-link {
  color: #2b3c4b;
  font-family: 'Montserrat', Verdana, sans-serif;
}
header .navbar .navbar-nav .nav-item .nav-link[href^="/checkout/s"] {
  background-color: var(--color--second);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
header .navbar .navbar-nav .nav-item .nav-link[href^="/checkout/s"]:hover,
header .navbar .navbar-nav .nav-item .nav-link[href^="/checkout/s"]:active,
header .navbar .navbar-nav .nav-item .nav-link[href^="/checkout/s"]:focus {
  background-color: #1b3561;
}
header .navbar .navbar-nav .nav-item.active .nav-link {
  font-family: 'Montserrat', Verdana, sans-serif;
  font-weight: 900;
}

/**
 * The modal toggle should have some affordances.
 */
.hover-state {
  cursor: pointer;
}
.hover-state:hover {
  -webkit-filter: brightness(125%);
  filter: brightness(125%);
}

/**
 * Remove the button-ness from the image button.
 */
.button--no-styles {
  background: transparent;
  border: 0 none;
}

/**
 * Responsive styles.
 */
@media all and (max-width: 767px) {
  .pb-block-column {
    padding-bottom: 40px;
  }
}